h1 {
  margin: 10px 10px 10px 10px;
}

.App {
  font-family: Arial, Microsoft JhengHei;
}

.App-header {
  text-align: center;
  color: black;
  padding: 10px;
}

.Comment {
  box-sizing: border-box;
  max-width: 500px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left: 30px;
  border-top: solid 2px black;
}

.Reply {
  display: block;
  padding: 10px 10px 0px 50px;
  margin-top: 5px;
  border-top: solid 1px gray;
}

.User {
  color: black;
  font-weight: bold;
  word-wrap: break-word;
}

.Message {
  color: black;
  word-wrap: break-word;
}

.ReplyButton {
  color: blue;
  font-size: small;
}
.ReplyButton:hover {
  cursor: pointer;
}

.Time {
  color: gray;
  padding-left: 10px;
  font-size: small;
}

.ShownHide {
  color: gray;
  padding-left: 5px;
  font-size: small;
  margin-top: 5px;
  position: relative;
}

.ArrowImg {
  position: absolute;
  margin-left: 10px;
  margin-top: 1px;
}

.ReplyNum {
  position: absolute;
  margin-left: 30px;
  margin-top: 2px;
}

.ShownHide:hover, .NextnPrevious:hover {
  filter: invert(1);
}

.MessageInput {
  box-sizing: border-box;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.ReplyInput {
  display: block;
  margin-left: 50px;
}

.Page {
  box-sizing: border-box;
  position: relative;
  max-width: 150px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.PageText {
  display: block;
  max-width: 100px;
  line-height: 30px;
  margin-left: 45px;
  position: absolute;
}

.NextnPrevious {
  display: block;
  position: absolute;
  margin-top: 3px;
}

.Next {
  margin-left: 120px;
}

.Previous {
  margin-left: 10px;
}

input {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  width: 100%;
  height: auto;
  background: rgba(0,0,0,0.1);
  outline: medium;
  text-align: center;
  font-size: large;
  font-family: Arial, Microsoft JhengHei;
}

input:focus {
  border-bottom: 2px solid gray;
}
